.App {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: ghostwhite;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  color: #282c34;
}

aside {
  position: absolute;
  top: 0px;
  left: 50px;
}

.current-words {
  position: relative;
  top: -700px;
  animation: scroll 35s linear;
}

@keyframes scroll {
  0% {
    transform: translateY(0px)
  }
  100% {
    transform: translateY(1400px);
  }
}