* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  position: relative;
  width: 100%;
  height: 100vh;
  text-align: center;
  background-color: ghostwhite;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  font-family: 'Courier New', Courier, monospace;
  color: #282c34;
}

.start-screen {
  position: relative;
}

.start-screen > span {
  cursor: default;
  font-size: 18px;
}

.start-screen > span:nth-last-child(odd):hover {
  cursor: default;
  font-weight: bold;
}

.start-screen > button {
  padding: 1px;
  font-family: 'Courier New', Courier, monospace;
}

.active {
  font-weight: bold;
}

.start-screen > p {
  position: absolute;
  top: 38px;
  width: 100%;
  height: 0px;
  font-size: 15px;
}

.typing-game {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

aside {
  position: absolute;
  top: 40px;
  left: 50px;
}

.fx {
  position: absolute;
  top: 105px;
  left: 40px;
}

.words-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
}

.shove {
  /* background: hotpink;
  transform: translateY(50px); */
}

.game-over {
  position: absolute;
  width: 50%;
  height: 35%;
  padding: 10px;
  background: ghostwhite;
  border-radius: 15px;
}