* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: ghostwhite;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  font-family: 'Courier New', Courier, monospace;
  color: #282c34;
}

.start-screen > span {
  cursor: default;
  font-size: 18px;
}

.start-screen > span:nth-child(even):hover {
  cursor: default;
  font-weight: bold;
}

.start-screen > button {
  padding: 1px;
  font-family: 'Courier New', Courier, monospace;
}

.active {
  font-weight: bold;
}

aside {
  position: absolute;
  top: 40px;
  left: 50px;
}

.fx {
  position: absolute;
  top: 105px;
  left: 40px;
}

.current-words {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: flex-start;
}

.scrolling {
  animation: scroll linear;
}

.hidden {
  /* display: none; */
}

.current-words > p {
  margin: 15px 0;
}

@keyframes scroll {
  0% {
    transform: translateY(-650px)
  }
  100% {
    transform: translateY(1400px);
  }
}